<style>
    th, td { border: 1px solid black; }
</style>

<h1>AS-P Registration</h1>

<form action="{% url 'ASP:registerUser' %}" method="post">
{% csrf_token %}
	<input type="hidden" name="email" value="{{ email }}">
	Your email: {{ email }}<br>
	first name: <input type="text" name="firstName" required><br>
	last name: <input type="text" name="lastName" required><br>
	username: <input type="text" name="username" required><br>
	password: <input type="password" name="password" required><br>
	<input type="hidden" name="role" value="{{ role }}">
	You are registering as: {{ role }}<br>
	{% if role == "Clinic Manager" %}
		Your clinic: <input type="text" name="clinicName" required><br>
	{% endif %}

	<input type="submit" value="Register">
</form>