<style>
    th, td { border: 1px solid black; }
</style>

<h1>Your placed orders</h1>
<form action="{% url 'ASP:browse' %}" method="post">
{% csrf_token %}
	<input type="hidden" name="category" value="all">
	<input type="submit" value="Return">
</form>

{% for order, details in order_details %}
<div>
	<span style="float:left; margin-right: 5px">order id: {{ order.id }}&nbsp&nbsp&nbsp&nbsp&nbsp priority: {{ order.priority }}&nbsp&nbsp&nbsp&nbsp&nbsp status: {{ order.status }}</span>
	
	{% if order.status == "Queued for Processing" %}
	<form action="updateOrder" method="post" style="margin:0">
		{% csrf_token %}
		<input type="hidden" name="order_id" value="{{ order.id }}">
		<input type="hidden" name="status" value="cancel">
		<input type="submit" value="Cancel order">
	</form>
	{% elif order.status == "Dispatched" %}
	<form action="updateOrder" method="post" style="margin:0">
		{% csrf_token %}
		<input type="hidden" name="order_id" value="{{ order.id }}">
		<input type="hidden" name="status" value="receive">
		<input type="submit" value="Order received" name="Order received">
	</form>
	{% else %}
		<button disabled>Cannot cancel</button><br>
	{% endif %}

	<table>
		<tr><th>supply name</th><th>quantity</th></tr>
		{% for detail in details %}
		<tr><td>{{ detail.supply.name }}</td><td>{{ detail.quantity }}</td></tr>
		{% endfor %}
	</table>
</div><br><br>
{% endfor %}
