<style>
    th, td { border: 1px solid black; }
</style>

<h1>Orders to be processed</h1>
<a href="{% url 'ASP:process' %}">Process</a><br><br>

<table>
	<tr>
		<td>order id</td>
		<td>order status</td>
		<td>order priority</td>
		<td>order weight</td>
	</tr>
	{% if top_order %}
	<tr>
		<td>{{ top_order.id }}</td>
		<td>{{ top_order.status }}</td>
		<td>{{ top_order.priority }}</td>
		<td>{{ top_order.weight }}</td>
		<td>
			<form action="{% url 'ASP:removeTopForProcess' %}" method="post">
			{% csrf_token %}
				<input type="hidden" name="order_id" value="{{ top_order.id }}">
				<input type="submit" value="Process">
			</form>
		</td>
	</tr>
	{% endif %}
	{% for order in orders %}
	<tr>
		<td>{{ order.id }}</td>
		<td>{{ order.status }}</td>
		<td>{{ order.priority }}</td>
		<td>{{ order.weight }}</td>
	</tr>
	{% endfor %}
</table>