<style>
    th, td { border: 1px solid black; }
</style>

<h1>AS-P Registration</h1>

<form action="{% url 'ASP:registerUser' %}" method="post">
{% csrf_token %}
	{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<input type="hidden" name="email" value="{{ email }}">
	<p>Your email: {{ email }}</p>
	<input type="hidden" name="role" value="{{ role }}">
	<p>You are registering as: {{ role }}</p>
	<!-- list of location in select -->
	{% if role == "Clinic Manager" %}
		<p>Your clinic:<br>
		<input type="text" name="clinic_name" required></p>
	{% endif %}
	<input type="hidden" name="invitation_id" value="{{ invitation_id }}">
	<input type="submit" value="Register">
</form>